absl-py==2.1.0
astunparse==1.6.3
coloredlogs==15.0.1
flatbuffers==24.3.25
gast==0.6.0
google-pasta==0.2.0
grpcio==1.66.0
h5py==3.11.0
humanfriendly==10.0
Jinja2==3.0.4
jsonpatch==2.1
keras==3.5.0
Markdown==3.7
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==1.26.4
onnx==1.16.2
onnxruntime==1.19.0
opt-einsum==3.3.0
optree==0.12.1
pillow==10.0.0
protobuf==4.25.4
prettytable==3.12.0
pyecharts==2.0.7
Pygments==2.18.0
PyMySQL==1.1.1
pyspark==3.5.3
requests==2.31.0
rich==13.8.0
simplejson==3.19.3
six==1.16.0
sympy==1.13.2
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
termcolor==2.4.0
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tqdm==4.64.1
urllib3==2.0.7
Werkzeug==3.0.4
wheel==0.44.0
wrapt==1.16.0